<div class="<%= class_names('h-50 w-[500px] rounded-lg m-6 ml-0 text-white relative', 'border border-white': !task.done) %>"  id="<%= dom_id task %>">
  <% if task.done %>
    <div class="border border-white w-[540px] h-full relative top-[27px] left-[-20px]"></div>
  <% end %>
  <!-- Header -->
  <div class="p-3 text-lg flex items-center justify-between peer-checked:bg-green-300">
    <div class="inline-flex items-center space-x-2">
      <span><%= task.name %></span>
      <%= button_to edit_task_path(task), method: :get, class: "hover:text-blue-600 text-sm font-medium inline-flex space-x-1 items-center" do %>
        <%= inline_svg_tag "icons/edit.svg", class: 'w-4 h-4' %>
      <% end %>
      <%= button_to task, method: :delete, class: "hover:text-blue-600 text-sm font-medium inline-flex space-x-1 items-center" do %>
        <%= inline_svg_tag "icons/delete.svg", class: 'w-4 h-4' %>
      <% end %>
    </div>
    <%= form_with(url: task_path(task.id), method: :patch, id: "form-#{task.id}" ) do |form| %>
      <div class="flex flex-row checkbox__container relative">
        <%= form.check_box :done, id: task.id,  class: "checkbox", checked: task.done, :onclick => "javascript: document.getElementById('form-#{task.id}').submit();" %>
        <%= form.label task.id do %>
          <div class="tick-mark"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

