<%= form_with(model: recurring_task) do |form| %>
  <div class="flex flex-col justify-center items-center">
    <div class="!z-5 relative flex flex-col rounded-[20px] max-w-[300px] md:max-w-[400px] bg-white dark:bg-slate-900 bg-clip-border shadow-3xl shadow-shadow-500 flex flex-col w-full !p-6 3xl:p-![18px] bg-white undefined">

      <div class="relative flex flex-row justify-between">
        <h4 class="text-xl font-bold text-navy-700 dark:text-white mb-3">
          <%= recurring_task.name %>
        </h4>
      </div>
      <% if recurring_task.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(recurring_task.errors.count, "error") %> prohibited this recurring_task from being saved:</h2>

          <ul>
            <% recurring_task.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-3">
        <%= form.label :name, class: "form__label" %>
        <%= form.text_field :name, class: "form__input" %>
      </div>
      <div class="mb-3">
        <%= form.label :content, class: "form__label" %>
        <%= form.text_area :content, class: "form__input" %>
      </div>
      <div class="mb-3">
        <%= form.label :goal, class: "form__label" %>
        <%= form.select :goal_id, @goals, class: "form__input" %>
      </div>
      <div class="mb-3">
        <%= form.label :recurrence, class: "form__label" %>
        <%= form.select :recurrence, RecurringTask::RECURRENCE_TYPE, class: "form__input" %>
      </div>
      <button class="button__success w-full">
        <%= form.submit class: 'cursor-pointer' %>
      </button>
    </div>
  </div>
<% end %>
