<div class="h-50 w-[500px] rounded-lg bg-white border border-slate-700 m-6 ml-0"  id="<%= dom_id recurring_task %>">
  <!-- Header -->
  <div class="flex items-center justify-between border-b">
    <div class="p-3 text-gray-700 text-lg font-bold"><%= recurring_task.name %></div>
    <div class="p-3 flex">
      <%= button_to edit_recurring_task_path(recurring_task), method: :get, class: "text-slate-800 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-l-lg font-medium px-4 py-2 inline-flex space-x-1 items-center" do %>
        <span>
<%= inline_svg_tag "icons/edit.svg", class: 'w-4 h-4' %>
        </span>
        <span>Edit</span>
      <% end %>
      <%= button_to recurring_task, method: :get, class: "text-slate-800 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 font-medium px-4 py-2 inline-flex space-x-1 items-center" do %>
        <span>Show</span>
      <% end %>
      <%= button_to recurring_task, method: :delete, class: "text-slate-800 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-r-lg font-medium px-4 py-2 inline-flex space-x-1 items-center" do %>
        <span>
<%= inline_svg_tag "icons/delete.svg", class: 'w-4 h-4' %>
        </span>
        <span>Delete</span>
      <% end %>
    </div>
  </div>
  <div class="p-3 text-lg text-gray-600 flex items-center justify-between peer-checked:bg-green-300">
    <%= recurring_task.content %>
  </div>
</div>
