<div class="h-50 w-[500px] rounded-lg bg-slate-900 border border-white m-6 ml-0"  id="<%= dom_id goal %>">
  <!-- Header -->
  <div class="flex items-center justify-between border-b">
    <div class="p-3 text-white text-lg font-semibold"><%= goal.title %></div>
    <div class="p-3 flex">
      <%= render "goals/button", url: edit_goal_path(goal), method: :get, goal:, classes: 'rounded-l-lg' do %>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
          </svg>
        </span>
        <span>Edit</span>
      <% end %>
      <%= render "goals/button", url: goal, method: :get, goal:, classes: '' do %>
        <span>Show</span>
      <% end %>
      <%= render "goals/button", url: goal, method: :delete, goal:, classes: 'rounded-r-lg ' do %>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        </span>
        <span>Delete</span>
      <% end %>
    </div>
  </div>
  <div class="<%= class_names(
                    'p-3 text-lg flex items-center justify-between font-bold italic',
                    'text-poor': goal.classification == Goal::CLASSIFICATION_POOR,
                    'text-common': goal.classification == Goal::CLASSIFICATION_COMMON,
                    'text-uncommon': goal.classification == Goal::CLASSIFICATION_UNCOMMON,
                    'text-rare': goal.classification == Goal::CLASSIFICATION_RARE,
                    'text-epic': goal.classification == Goal::CLASSIFICATION_EPIC,
                    'text-legendary': goal.classification == Goal::CLASSIFICATION_LEGENDARY,
                  ) %>">
    <%= goal.reward %>
  </div>
    <div class="<%= class_names(
                     'p-1 border-t text-lg text-white text-center relative font-semibold',
                     '!text-slate-900': [Goal::CLASSIFICATION_COMMON, Goal::CLASSIFICATION_POOR, Goal::CLASSIFICATION_UNCOMMON].include?(goal.classification) && goal.real_completion > 50
                   ) %>">
      <span class="relative z-20">
        <%= goal.real_completion %> %
      </span>
      <div class="<%= class_names(
                        'rounded-bl-lg absolute inset-0',
                        'rounded-br-lg': goal.real_completion >= 100,
                        'bg-poor': goal.classification == Goal::CLASSIFICATION_POOR,
                        'bg-common': goal.classification == Goal::CLASSIFICATION_COMMON,
                        'bg-uncommon': goal.classification == Goal::CLASSIFICATION_UNCOMMON,
                        'bg-rare': goal.classification == Goal::CLASSIFICATION_RARE,
                        'bg-epic': goal.classification == Goal::CLASSIFICATION_EPIC,
                        'bg-legendary': goal.classification == Goal::CLASSIFICATION_LEGENDARY,
                      ) %>"
           style="width:<%= goal.real_completion %>%">
      </div>
    </div>
</div>
