<div class="h-50 w-[500px] rounded-lg bg-slate-900 border border-white m-6 ml-0"  id="<%= dom_id goal %>">
  <!-- Header -->
  <div class="flex items-center justify-between border-b">
    <div class="p-3 text-white text-lg font-semibold"><%= goal.title %></div>
    <div class="p-3 flex">
      <%= render "goals/button", url: edit_goal_path(goal), method: :get, goal:, classes: 'rounded-l-lg' do %>
        <span>
          <%= inline_svg_tag "icons/edit.svg", class: 'w-4 h-4' %>
        </span>
        <span>Edit</span>
      <% end %>
      <%= render "goals/button", url: goal, method: :get, goal:, classes: '' do %>
        <span>Show</span>
      <% end %>
      <%= render "goals/button", url: goal, method: :delete, goal:, classes: 'rounded-r-lg ' do %>
        <span>
          <%= inline_svg_tag "icons/delete.svg", class: 'w-4 h-4' %>
        </span>
        <span>Delete</span>
      <% end %>
    </div>
  </div>
  <div class="<%= class_names(
                    'p-3 text-lg flex items-center justify-between font-bold italic',
                    'text-poor': goal.classification == Goal::CLASSIFICATION_POOR,
                    'text-common': goal.classification == Goal::CLASSIFICATION_COMMON,
                    'text-uncommon': goal.classification == Goal::CLASSIFICATION_UNCOMMON,
                    'text-rare': goal.classification == Goal::CLASSIFICATION_RARE,
                    'text-epic': goal.classification == Goal::CLASSIFICATION_EPIC,
                    'text-legendary': goal.classification == Goal::CLASSIFICATION_LEGENDARY,
                  ) %>">
    <%= goal.reward %>
  </div>
    <div class="<%= class_names(
                     'p-1 border-t text-lg text-white text-center relative font-semibold',
                     '!text-slate-900': [Goal::CLASSIFICATION_COMMON, Goal::CLASSIFICATION_POOR, Goal::CLASSIFICATION_UNCOMMON].include?(goal.classification) && goal.real_completion > 50
                   ) %>">
      <span class="relative z-20">
        <%= goal.real_completion %> %
      </span>
      <div class="<%= class_names(
                        'rounded-bl-lg absolute inset-0',
                        'rounded-br-lg': goal.real_completion >= 100,
                        'bg-poor': goal.classification == Goal::CLASSIFICATION_POOR,
                        'bg-common': goal.classification == Goal::CLASSIFICATION_COMMON,
                        'bg-uncommon': goal.classification == Goal::CLASSIFICATION_UNCOMMON,
                        'bg-rare': goal.classification == Goal::CLASSIFICATION_RARE,
                        'bg-epic': goal.classification == Goal::CLASSIFICATION_EPIC,
                        'bg-legendary': goal.classification == Goal::CLASSIFICATION_LEGENDARY,
                      ) %>"
           style="width:<%= goal.real_completion %>%">
      </div>
    </div>
</div>
